Source: github-backup
Section: utils
Priority: optional
Build-Depends:
	debhelper-compat (= 13),
	ghc,
	git,
	libghc-github-dev (>= 0.15.0),
	libghc-missingh-dev,
	libghc-hslogger-dev,
	libghc-pretty-show-dev,
	libghc-ifelse-dev,
	libghc-exceptions-dev,
	libghc-transformers-dev,
	libghc-unix-compat-dev,
	libghc-optparse-applicative-dev,
	libghc-vector-dev,
	libghc-utf8-string-dev,
	libghc-filepath-bytestring-dev,
	libghc-bytestring-dev,
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Standards-Version: 4.5.0
Vcs-Git: https://salsa.debian.org/debian/github-backup.git
Vcs-Browser: https://salsa.debian.org/debian/github-backup
Homepage: https://github-backup.branchable.com/

Package: github-backup
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, git
Description: backs up data from GitHub
 github-backup is a simple tool you run in a git repository you cloned from
 GitHub. It backs up everything GitHub publishes about the repository,
 including other forks, issues, comments, wikis, milestones, pull requests,
 and watchers.
 .
 Also includes gitriddance, which can be used to close all open issues and
 pull requests.
